<!DOCTYPE html>
<html lang="en">
	<head>
			{% load staticfiles %}
		<meta charset="utf-8">
		<title>Video</title>
		<meta name="format-detection" content="telephone=no" />
		<link rel="icon" href="{% static 'images/photo3/favicon.ico">
		<link rel="shortcut icon" href="{% static 'images/photo3/favicon.ico" />
		<link rel="stylesheet" href="{% static 'css/photo3/style.css' %}">
		<link href="{% static 'css/photo3/Economica.css' %}" rel='stylesheet' type='text/css'>
		<script src="{% static 'js/photo3/jquery.js' %}"></script>
		<script src="{% static 'js/photo3/jquery-migrate-1.1.1.js' %}"></script>
		<script src="{% static 'js/photo3/script.js' %}"></script>
		<script src="{% static 'js/photo3/jquery.ui.totop.js' %}"></script>
		<script src="{% static 'js/photo3/superfish.js' %}"></script>
		<script src="{% static 'js/photo3/jquery.equalheights.js' %}"></script>
		<script src="{% static 'js/photo3/jquery.mobilemenu.js' %}"></script>
		<script src="{% static 'js/photo3/jquery.easing.1.3.js' %}"></script>
		<script>
		$(document).ready(function(){
			$().UItoTop({ easingType: 'easeOutQuart' });
		})
		</script>
		<div style=' clear: both; text-align:center; position: relative;'>
		</div>
		<script src="{% static 'js/photo3/html5shiv.js' %}"></script>
		<link rel="stylesheet" media="screen" href="{% static 'css/photo3/ie.css' %}">
	</head>
	<body id="top">
<!--==============================header=================================-->
		<div class="main">
			<header>
				<div class="clear"></div>
				<div class="container_12">
					<div class="grid_12">
						<h1>
							<a href="photo3">
								<img src="{% static 'images/photo3/logo.png' %}" alt="Your Happy Family">
							</a>
						</h1>
					</div>
				</div>
			</header>
		</div>
		<div class="menu_block">
			<div class="container_12">
				<div class="grid_12">
					<nav class="horizontal-nav full-width horizontalNav-notprocessed">
						<ul class="sf-menu">
							 <li><a href="photo3">Home</a></li>
							 <li><a href="photo3_index_1">About</a></li>
							 <li><a href="photo3_index_2">Gallery</a></li>
							 <li class="current"><a href="photo3_index_3">Video</a></li>
							 <li><a href="photo3_index_4">Contacts</a></li>
						</ul>
					</nav>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="main">
<!--==============================Content=================================-->
			<div class="content"><div class="ic">More Website Templates @ <a href="http://www.css' %}moban.com/" >网页模板</a> - December 30, 2013!</div>
				<div class="container_12">
					<div class="grid_8">
						<div class="box">
							<div class="inner maxheight">
								<h3>Video</h3>
								<div class="video_block">
									<div class="title"><a href="http://112.253.22.162/11/p/f/t/z/pftzxouthihoondfohxpdcaljiuwyf/he.yinyuetai.com/E10C0153805C22BDD664B05B2DDDC007.flv?crazycache=1" rel="nofollow">Night Sky Video</a></div>Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis suada.nibh odio ut velit. Proin pharetra luctus diam, a scelerisque eros convallis mertoli noloto.
									<figure class="video">
										<iframe src="http://112.253.22.162/11/p/f/t/z/pftzxouthihoondfohxpdcaljiuwyf/he.yinyuetai.com/E10C0153805C22BDD664B05B2DDDC007.flv?crazycache=1"></iframe>
									</figure>
								</div>
								<div class="video_block">
									<div class="title">
										<a href="http://58.16.42.192:9999/112.253.22.162/9/k/l/q/j/klqjfoxrpybezktbqdgtoeiekdnoko/he.yinyuetai.com/633301542D0F0AA15E7A3A0503BE0370.flv" rel="nofollow">Magic Hour</a>
									</div>
									Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis suada.nibh odio ut velit. Proin pharetra luctus diam, a scelerisque eros convallis mertoli noloto.
									<figure class="video">
										<iframe src="http://58.16.42.192:9999/112.253.22.162/9/k/l/q/j/klqjfoxrpybezktbqdgtoeiekdnoko/he.yinyuetai.com/633301542D0F0AA15E7A3A0503BE0370.flv"></iframe>
									</figure>
								</div>
								<div class="video_block">
									<div class="title">
										<a href="http://58.16.42.203:9999/112.253.22.163/10/y/e/z/s/yezsydpghmsjttzqobhtqbhalzewcg/he.yinyuetai.com/BDD30153EABD59AF19735F054B85AD22.flv" rel="nofollow">Coexisting with Nature</a>
									</div>
									Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis suada.nibh odio ut velit. Proin pharetra luctus diam, a scelerisque eros convallis mertoli noloto.
									<figure class="video">
										<iframe src="http://58.16.42.203:9999/112.253.22.163/10/y/e/z/s/yezsydpghmsjttzqobhtqbhalzewcg/he.yinyuetai.com/BDD30153EABD59AF19735F054B85AD22.flv"></iframe>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<div class="grid_4">
						<div class="box">
							<div class="inner maxheight">
								<h4>Top Videos</h4>
								<ul class="list">
									<li class="li"><a href="#">Eorem ipsum dolor sit </a></li>
									<li class="li"><a href="#">Amet, consectetur adipiscing</a></li>
									<li class="li"><a href="#">Mattis neque facilisis, sit amet </a></li>
									<li class="li"><a href="#">Cras facilisis</a></li>
									<li class="li"><a href="#">Viverra auctor, leo magna</a></li>
									<li class="li"><a href="#">Tuis males</a></li>
									<li class="li"><a href="#">Kada nibh odio ut velit</a></li>
									<li class="li"><a href="#">Pharetra luctus diamscelerisque</a></li>
									<li class="li"><a href="#">Convallis accumsan</a></li>
									<li class="li"><a href="#">Vehicula egestas venenatism</a></li>
								</ul>
								<h4 class="head1">Archive</h4>
								<div class="block2">
									<time datetime="2013-01-01"><span>21</span>Nov</time>
									<div class="extra_wrapper">
										<p class="col2"><strong><a href="#">Lorem ipsum dolor sit consectetur cingeit. In mollis s neque facilisis sit amettricies era rutrum </a></strong></p>Cras facilisis, nulla vel viverra uctorleo magna sodales felis, quis
									</div>
								</div>
								<div class="block2">
									<time datetime="2013-01-01"><span>30</span>Nov</time>
									<div class="extra_wrapper">
										<p class="col2"><strong><a href="#">Lorem ipsum dolor sit consectetur cingeit. In mollis s neque facilisis sit amettricies era rutrum </a></strong></p>Cras facilisis, nulla vel viverra uctorleo magna sodales felis, quis
									</div>
								</div>
								<div class="block2">
									<time datetime="2013-01-01"><span>12</span>Dec</time>
									<div class="extra_wrapper">
										<p class="col2"><strong><a href="#">Lorem ipsum dolor sit consectetur cingeit. In mollis s neque facilisis sit amettricies era rutrum </a></strong></p>Cras facilisis, nulla vel viverra uctorleo magna sodales felis, quis
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
<!--==============================footer=================================-->
			<footer>
				<div class="hor bg3"></div>
				<div class="container_12">
					<div class="grid_12">
						<div class="socials">
							<a href="#"></a>
							<a href="#"></a>
							<a href="#"></a>
							<div class="clear"></div>
						</div>
						<div class="copy">
							&copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a> <br>
							Collect from <a href="http://www.css' %}moban.com/" target="_blank" title="模板之家">模板之家</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>